

<h1>HERE YOU CAN ADD AND IMAGE TO YOUR PRODUCT</h1>

<%= form_tag "/images", method: :patch do %>

<p>Image URL: <input type="text" name="image"><p>


<button type="submit" class="btn btn-default">EDIT</button>


<% end %>